/* CSS declarations go here */

.event-container .description {
  display: none;
}

.event-container:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}

.container {
  margin: auto;
  max-width: 800px;
}
