/* CSS declarations go here */

/* Event stuff */
.event-container {
  padding: 4px;
  margin-top: 8px;
  border: 2px solid orange;
  overflow: auto;

  .title {
    &:hover {
      cursor: pointer;
    }
  }

  .description {
    display: none;
    white-space: pre-wrap;      /* Display user's formatting */
  }
}

/* Form stuff */
.form-container {
  display: none;
}

textarea {
  max-width: 100%;
}

a {
  &:hover {
    cursor: pointer
  }
}