/* CSS declarations go here */
/* Event stuff */
.event-container {
  padding: 4px;
  margin-top: 8px;
  background-color: #DDD;
  overflow: auto; }
  .event-container .title:hover {
    cursor: pointer;
    background-color: #EEE; }
  .event-container .description {
    display: none;
    white-space: pre-wrap;
    /* Display user's formatting */ }

/* Form stuff */
.form-container {
  display: none; }

textarea {
  max-width: 100%; }
